@import "./rose-pine.css";

* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: @base;
  border-bottom: 3px solid @overlay;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#tags button.focused {
  background: @rose;
  color: @base;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @rose;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @text;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#workspaces button.focused,
#backlight,
#battery,
#battery.charging,
#battery.plugged,
#custom-clock,
#cpu,
#cpu,
#custom-media,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#tray {
  padding: 0 10px;
  color: @base;
  background-color: @rose;
}

#pulseaudio.muted,
#network.disconnected {
  background-color: @love;
}

@keyframes blink {
  to {
    background-color: @text;
    color: @base;
  }
}

#battery.critical:not(.charging) {
  background-color: @love;
  color: @text;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @love;
}
